.header__wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 9;
  width: 100%;
  padding: 20px 120px 20px 205px;
  @include columns($justify-center: space-between, $align-center: center);
  transform: translateX(-50%);
}

.header__navigation {
  > * {
    @include columns($justify-center: flex-end, $align-center: center);
  }
}

.navigation__link {
  margin-left: 62px;

  a {
    @include font($size: 2.3rem, $height: 6rem);
    color: $font-light;
    white-space: nowrap;
    text-decoration: none;
  }

  .search {
    position: relative;

    &::before {
      display: block;
      width: 32px;
      height: 32px;
      content: '';
      background: url('./assets/img/icon/search.svg');
      background-size: cover;
    }
  }

  .sign-in {
    padding: 10px 23px 8px 24px;
    @extend %font-sign-in;
    border-radius: 5px;
    border: 2px solid $orange-main;
  }
}
