%transition {
  transition: all 0.3s ease-out;
}

%font-primary {
  font-family: 'Open Sans Regular', sans-serif;
}

%font-logo {
  font-family: 'Roboto Regular', sans-serif;
  font-size: 3.2rem;
  line-height: 6rem;
}
