%transition {
  transition: all 0.3s ease-out;
}

%font-primary {
  font-family: 'Open Sans Regular', sans-serif;
}

%font-logo {
  font-family: 'Roboto Regular', sans-serif;
  font-size: 3.2rem;
  line-height: 6rem;
}

%font-secondary {
  font-family: 'Roboto Regular', sans-serif;
}

%link {
  color: $font-light;
  white-space: nowrap;
  text-decoration: none;
}

%social {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
}

%logo-hover {
  color: $orange-light;
}

%logo-active {
  color: $orange-dark;
}

%link-hover {
  color: $orange-light;
}

%link-active {
  color: $orange-dark;
}

%sign-in-hover {
  color: $font-light;
  background-color: $orange-main;
}

%sign-in-active {
  border-color: $orange-dark;
  background-color: $orange-dark;
}

%button-hover {
  border-color: $orange-light;
  background-color: $orange-light;
}

%button-active {
  border-color: $orange-dark;
  background-color: $orange-dark;
}

%social-hover {
  background-color: $orange-light;
}

%social-active {
  background-color: $orange-dark;
}
