.logo {
  position: relative;
  @extend %font-logo;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  @extend %transition;

  &:before {
    position: absolute;
    top: 0;
    left: -85px;
    display: block;
    width: 70px;
    height: 60px;
    content: '';
    background: url('./assets/img/icon/logo.svg');
    background-size: cover;
    @extend %transition;
  }

  &:hover {
    @extend %logo-hover;

    &:before {
      background: url('./assets/img/icon/logo-hover.svg');
    }
  }

  &:active {
    @extend %logo-active;

    &:before {
      background: url('./assets/img/icon/logo-active.svg');
    }
  }
}
